[Unit]
Description=Temperature monitoring and logging
Requires=network.target

[Service]
User=pi
Environment="TMONITOR_LOG_LEVEL=DEBUG"
WorkingDirectory=/home/pi/src/tmonitor/
ExecStart=/usr/bin/python3 ./pv run startup.py

[Install]
WantedBy=multi-user.target
Alias=tmonitor

